---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Nav from "../../components/Nav.astro";
import Hero from "../../components/Hero.astro";
import StatsStrip from "../../components/StatsStrip.astro";
import Problem from "../../components/Problem.astro";
import Services from "../../components/Services.astro";
import WhyMe from "../../components/WhyMe.astro";
import HowItWorks from "../../components/HowItWorks.astro";
import FAQ from "../../components/FAQ.astro";
import CTALast from "../../components/CTALast.astro";
import Footer from "../../components/Footer.astro";
---

<BaseLayout>
  <Nav />
  <main>
    <Hero />
    <StatsStrip />
    <Problem />
    <Services />
    <WhyMe />
    <HowItWorks />
    <FAQ />
    <CTALast />
  </main>
  <Footer />
</BaseLayout>
